a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-family: -apple-system, 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background: rgb(7,44,54);
    background: linear-gradient(149deg, rgba(7,44,54,1) 1%, rgba(9,72,121,1) 55%, rgba(0,212,255,1) 100%);
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 60vw;
    height: 60vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.primaryContainer {
    background-color: #efefef;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-radius: 10px;
}

.primaryContainer > h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.responseWindow {
    border: 1px darkgrey solid;
    border-radius: 8px;
    background:  #f8f9f9;
    width: 75%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    overflow-x: scroll;
}

.passwordButton {
    color: white;
    display: flex;
    border-radius: 50px;
    width: 4.6rem;
    height: 2.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:#1f618d;
    border: 1px solid darkgrey;
    margin: 0.2rem auto;
    width: 100%;
}

.passwordButton:hover {
    cursor: pointer;
    background-color:#3498db;
    box-shadow: 0 0px 0px 0px transparent;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 50px;
    text-align: center;
    border: 1px solid darkgrey;
    margin-top: 1rem;
}

input[type="checkbox"]:focus {
    border: 2px solid blue;
}

.toggleLabel {
    padding-right: 80px;
    margin: 15px 0;
    position: relative;
    line-height: 50px;
}

.toggleLabel::before {
    content: '';
    width: 60px;
    height: 20px;
    background: lightgrey;
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 6px;
    transition: ease 0.1s;
    -webkit-box-shadow: inset 0px 0px 21px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 21px -19px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 21px -19px rgba(0,0,0,0.75);
}

.toggleLabel::after {
    content: '';
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 45px;
    transition: ease 0.1s;
    -webkit-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -19px rgba(0,0,0,0.75);
}

input[type="checkbox"]:checked + .toggleLabel::before {
    background: green;
    transition: ease-in 0.2s;
}

input[type="checkbox"]:checked + .toggleLabel::after {
    right: 5px;
    background-color: white;
    transition: ease-in 0.2s;
}

fieldset {
    text-align: center;
}

@media (max-width: 800px) {
    .mainContainer {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .responseWindow {
        width: 100%;
    }
}